/*
$light_blue:			rgba(131,212,248,1);
$dark_blue:				rgba(71,171,228,1);

$alt_light_blue:	rgba(136,217,251,1);
$alt_dark_blue:		rgba(77,176,230,1);

$white:						rgba(255,255,255,1);
$blue_white:			rgba(214,238,249,1);

$pic_border:			rgba(0,173,243,1);

$header_background: rgba(238,239,241,1);
*/

#masthead { background: url(../images/header_top.png) no-repeat top right #fff;
	background-size: 100%;
 }


h1#logo {
   width: 373px; // width of image
   height: 93px; // height of image
   background: url(../images/logo.png);
   text-indent: -9999px;
}

body {
	margin: 20px;
	padding: 10px;
	}




ul {
  background-color: #82d5f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#82d5f8), to(#47aae4));
  background-image: -webkit-linear-gradient(top, #82d5f8, #47aae4);
  background-image:    -moz-linear-gradient(top, #82d5f8, #47aae4);
  background-image:      -o-linear-gradient(top, #82d5f8, #47aae4);
  background-image:         linear-gradient(to bottom, #82d5f8, #47aae4);

	display: block;
	float: left;
	width: 100%;
	position: relative;
	padding-left: 0;

	li {
			list-style-type: 	none;
			display: 					block;
			float: 						left;
			border-right: 		1px solid #fff;
			text-align: 			center;
			position: 				relative;

		a {
			font-size: 				20px;
			float: 						left;
			color: 						#fff;
			padding: 					18px 25px;
			text-decoration: 	none;

			&:hover {
			padding: 					18px 25px;
			background-color: #47aae4;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#47aae4), to(#82d5f8));
			background-image: -webkit-linear-gradient(top, #47aae4, #82d5f8);
			background-image:    -moz-linear-gradient(top, #47aae4, #82d5f8);
			background-image:      -o-linear-gradient(top, #82d5f8, #47aae4);
			background-image:         linear-gradient(to bottom, #47aae4, #82d5f8);
			text-decoration: none;
			}
		}
	}
}


#left_column, #right_colum {
	float: 		left;
	display: 	block;
	margin-right: 20px;
}

/* Clear Fix */
.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	clear: both;
	*zoom: 1;
}
