body {
  background-color: $base-background-color;
  color: $base-font-color;
  margin: 0 auto;
  width: 1024px;
}

#masthead {
  background-image: url(image-path('header_logo.png')), url(image-path('header_home.jpg'));
  background-position: 50px 40px, left top;
  background-repeat: no-repeat;
  display: block;
  height: 343px;
}
