#masthead h1 {
  text-indent: -9999px;
  margin: 0;
}

.index #masthead {
  background-image: url(image_path('logo.png')), url(image-path('index.png'));
}

.sevenx #masthead {
  background-image: url(image_path('logo.png')), url(image-path('sevenx.png'));
}

.imagine #masthead {
  background-image: url(image_path('logo.png')), url(image-path('imagine.png'));
}

.benefits #masthead {
  background-image: url(image_path('logo.png')), url(image-path('benefits.png'));
}

.about #masthead {
  background-image: url(image_path('logo.png')), url(image-path('about.png'));
}

.sustainability #masthead {
  background-image: url(image_path('logo.png')), url(image-path('sustainability.png'));
}

.contact #masthead {
  background-image: url(image_path('')), url(image-path('contact.png'));
}



#masthead {
  background-position: 50px 40px, left top;
  background-repeat: no-repeat;

  display: block;
  height: 343px;
}
