nav {
  margin: 50px 0;
  background-color: $nav-background-passive-top-color;
}

nav ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  }

nav ul li {
  display:inline-block;
}

nav a {
  display:block;
  padding:0 10px;
  color:#FFF;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
}

nav a:hover {
  background-color: $nav-background-active-color;
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  background-color: $dropdown-backround-passive-color;
  border-bottom: 4px double-dotted $dropdown-border-color;
  display:list-item;
  float:none;
  padding-bottom: 4px;
  position: relative;
  width:170px;
}

/* Second, Third and more Tiers */
nav ul ul ul li {
  position: relative;
  top:-60px;
  left:170px;
}


/* Change this in order to change the Dropdown symbol */
li li > a:after { content:  ' ▶'; }
li > a:only-child:after { content: ''; }
