%footer
  %ul
    -#%li
      -#%a{:href => "#"}Sitemap
    -#%li
      -#%a{:href => "#"}Search
    -#%li
      -#%a{:href => "#"}Careers
    -#%li
      -#%a{:href => "#"}Terms of Use
    -#%li
      -#%a{:href => "#"}Privacy Policy
    %li Copyright 2013 Dairyvative Technologies, LLC
