---
title: "Contact Page Title"
---
%section#half
  %article
    = partial "views/content/contact_data"
  %aside
    %form{:action => "//formspree.io/dleeds@dairyv.com", :method => "POST", :name => "contact"}
      %label Full Name
      %input{:name => "full_name", :type => "text"}
      %label Title
      %input{:name => "title", :type => "text"}
      %label Company
      %input{:name => "comapny", :type => "text"}
      %label Address
      %input{:name => "address", :type => "text"}
      %label City
      %input{:name => "city", :type => "text"}
      %label State
      %input{:name => "state", :type => "text"}
      %label Postal Code
      %input{:name => "postal_code", :type => "text"}
      %label E-mail
      %input{:name => "_replyto", :type => "email"}
      
      %label Note
      Reason for contact / Information requested
      %textarea{:form => "contact", :rows => "4", :cols => "80"}

      
      %input{:type => "submit", :value => "Send"}

    
