---
title: Home
---
%section.cf#content
  %section#left_column
    %img{ :src => "/images/DT DAIRY PRODUCT.jpg", :height => 500, :width => 500 }
  %section#right_column
    -#%h2 Article title
    %p
      %strong Dairyvative Technologies
      envisions a world supplied with high-quality, pasteurized, lactose-free milk enabled by the SEVENx concentration technology.

    %p The technology will provide domestic and international dairy processors with a superior milk concentrate that ships efficiently, can be stored without refrigeration, and has a significantly lower environmental footprint than any other milk concentrate.


#bg
