!!! 5

-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}

      %title Dairyv
      %meta{:name => "description", :content => ""}
        -# %meta{:name => "keywords", :content => ""}
        -# %meta{:name => "author", :content => ""}
        -# Mobile
        -# ==========================================================================
      %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        -# %meta{:name => "HandheldFriendly", :content => "True"}
        -# %meta{:name => "MobileOptimized", :content => "320"}

        -# iOS web app

        -# %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
        -# %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
        -# %link{:rel => "apple-touch-startup-image", :href => "/img/touch/startup.png"}


      %link{:href => "/favicon.ico", :rel => "shortcut icon"}

        -# iPad 3 Retina Display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/img/touch/apple-touch-icon-144x144-precomposed.png"}

        -# iPhone 4 Retina display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/img/touch/apple-touch-icon-114x114-precomposed.png"}

        -# iPad non-Retina display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/img/touch/apple-touch-icon-72x72-precomposed.png"}

        -# Non-Retina iPhone, iPod Touch, Android 2.1+

        -# %link{:rel => "apple-touch-icon-precomposed", :href => "/img/touch/apple-touch-icon-57x57-precomposed.png"}

        -# Nokia

        -# %link{:rel => "shortcut icon", :href => "/img/touch/apple-touch-icon.png"}

        -# CSS
        -# ==========================================================================

      %link{:rel => "stylesheet", :type => "text/css", :href => "css/base.css"}
        -# %link{:rel => "stylesheet", :media => "only screen and (min-width: 45em)", :href => "/css/widescreen.css"}

        -# IE Fixes
        -# ==========================================================================

        -#
        -# Use HTML5 Shim polyfill if not using Modernizr
        -# Compiled IE stylesheets for legacy IE "Mobile first" support (using SASS)
        -# nicolasgallagher.com/mobile-first-css-sass-and-ie/
        -#

        -# /[if (lt IE 9) & (!IEMobile)]
            -# %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
            %script{:src => "/js/libs/selectivizr.min.js"}
            -# %link{:rel => "stylesheet", :href => "/css/oldie.css"}
            -# %link{:rel => "stylesheet", :href => "/css/ie8.css"}

        -# [if (lt IE 8) & (!IEMobile)]
            %link{:rel => "stylesheet", :href => "/css/ie7.css"}

        -# [if IE 6 & (!IEMobile)]
            %link{:rel => "stylesheet", :href => "/css/ie6.css"}

        -# JS
        -# ==========================================================================

        -# Typekit - change XXXXXXX to be your site's Typekit Kit ID

        -# %script{:src => "http://use.typekit.com/XXXXXXX.js"}
        -# :javascript
            try{Typekit.load();}catch(e){}

        -# Modernizr

        -# %script{:src => "/js/libs/modernizr.custom.js"}

  %body
    %section#masthead
      .container
        -#%img{ :src => "images/logo.png", :width => 500 }
        %h1#logo Dairyvative Technologies, LLC
    %nav
      %ul
        %li
          %a{:href => "index.html"}Home
        %li
          %a{:href => "sevenx.html"}Innovation
        %li
          %a{:href => "sustainability.html"}Sustainability
        %li
          %a{:href => "aboutus.html"}About Us
        %li
          %a{:href => "contact.html"}Contact Info
        -#%li
          %a{:href => "#"}Application
        -#%li
          %a{:href => "#"}Packaging
        -#%li
          %a{:href => "#"}Physical Properties

    %section.cf#content
      .container
        %section#left_column
          %img{ :src => "http://placekitten.com/g/500/500", :height => 500, :width => 500 }
        %section#right_column
          %h2 Article title
          %p Intelligentsia church-key thundercats bespoke, iPhone VHS retro. Etsy YOLO blog, 8-bit roof party semiotics bitters retro intelligentsia gentrify Truffaut mumblecore. Banh mi actually Banksy aesthetic. Typewriter pork belly asymmetrical 90's YOLO irony. VHS +1 Marfa locavore fixie DIY plaid, artisan sustainable. Etsy trust fund single-origin coffee, Pinterest Austin hella small batch kitsch salvia before they sold out Vice church-key forage vegan Bushwick. DIY biodiesel try-hard irony.
          %p Intelligentsia church-key thundercats bespoke, iPhone VHS retro. Etsy YOLO blog, 8-bit roof party semiotics bitters retro intelligentsia gentrify Truffaut mumblecore. Banh mi actually Banksy aesthetic. Typewriter pork belly asymmetrical 90's YOLO irony. VHS +1 Marfa locavore fixie DIY plaid, artisan sustainable. Etsy trust fund single-origin coffee, Pinterest Austin hella small batch kitsch salvia before they sold out Vice church-key forage vegan Bushwick. DIY biodiesel try-hard irony.
          %article
            %h2 Article title
            %p Intelligentsia church-key thundercats bespoke, iPhone VHS retro. Etsy YOLO blog, 8-    bit roof party semiotics bitters retro intelligentsia gentrify Truffaut mumblecore. Banh mi actua    lly Banksy aesthetic.
            %ul
              %li Stuff
              %li Things
              %li Otta Stuff
            %ol
              %li Stuff
              %li Things
          %article
            %h2 Article title
            %p Intelligentsia church-key thundercats bespoke, iPhone VHS retro. Etsy YOLO blog, 8-    bit roof party semiotics bitters retro intelligentsia gentrify Truffaut mumblecore. Banh mi actua    lly Banksy aesthetic.
            %table
              %th
              %th
              %th
              %tr
                %td Stuff
                %td Things
                %td Otta Stuff
              %tr
                %td Stuff
                %td Things
                %td Otta Stuff
      #bg
    %section.cf#copyright
      %p COPYRIGHT! Etsy trust fund single-origin coffee, Pinterest Austin hella small batch kitsch salvia before they sold out Vice church-key forage vegan Bushwick. DIY biodie sel try-hard irony.
    %footer
      %ul
        -#%li
          -#%a{:href => "#"}Sitemap
        -#%li
          -#%a{:href => "#"}Search
        -#%li
          -#%a{:href => "#"}Careers
        -#%li
          -#%a{:href => "#"}Terms of Use
        -#%li
          -#%a{:href => "#"}Privacy Policy
        %li Copyright 2013 Dairyvative Technologies, LLC


      -# JS
      -# ==========================================================================

      -# jQuery

      -# %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
      -# :javascript
          window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')

      -# Custom JS

      -# %script{:src => "/js/app.js"}

      -#
      -# Asynchronous Google Analytics
      -# Change UA-XXXXX-X to be your site's ID
      -# mathiasbynens.be/notes/async-analytics-snippet
      -#

      -# :javascript
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
