!!! 5

-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}

      %title Dairyv
      %meta{:name => "description", :content => ""}
        -# %meta{:name => "keywords", :content => ""}
        -# %meta{:name => "author", :content => ""}
        -# Mobile
        -# ==========================================================================
      %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        -# %meta{:name => "HandheldFriendly", :content => "True"}
        -# %meta{:name => "MobileOptimized", :content => "320"}

        -# iOS web app

        -# %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
        -# %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
        -# %link{:rel => "apple-touch-startup-image", :href => "/img/touch/startup.png"}


      %link{:href => "/favicon.ico", :rel => "shortcut icon"}

        -# iPad 3 Retina Display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/img/touch/apple-touch-icon-144x144-precomposed.png"}

        -# iPhone 4 Retina display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/img/touch/apple-touch-icon-114x114-precomposed.png"}

        -# iPad non-Retina display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/img/touch/apple-touch-icon-72x72-precomposed.png"}

        -# Non-Retina iPhone, iPod Touch, Android 2.1+

        -# %link{:rel => "apple-touch-icon-precomposed", :href => "/img/touch/apple-touch-icon-57x57-precomposed.png"}

        -# Nokia

        -# %link{:rel => "shortcut icon", :href => "/img/touch/apple-touch-icon.png"}

        -# CSS
        -# ==========================================================================

      %link{:rel => "stylesheet", :type => "text/css", :href => "css/base.css"}
        -# %link{:rel => "stylesheet", :media => "only screen and (min-width: 45em)", :href => "/css/widescreen.css"}

        -# IE Fixes
        -# ==========================================================================

        -#
        -# Use HTML5 Shim polyfill if not using Modernizr
        -# Compiled IE stylesheets for legacy IE "Mobile first" support (using SASS)
        -# nicolasgallagher.com/mobile-first-css-sass-and-ie/
        -#

        -# /[if (lt IE 9) & (!IEMobile)]
            -# %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
            %script{:src => "/js/libs/selectivizr.min.js"}
            -# %link{:rel => "stylesheet", :href => "/css/oldie.css"}
            -# %link{:rel => "stylesheet", :href => "/css/ie8.css"}

        -# [if (lt IE 8) & (!IEMobile)]
            %link{:rel => "stylesheet", :href => "/css/ie7.css"}

        -# [if IE 6 & (!IEMobile)]
            %link{:rel => "stylesheet", :href => "/css/ie6.css"}

        -# JS
        -# ==========================================================================

        -# Typekit - change XXXXXXX to be your site's Typekit Kit ID

        -# %script{:src => "http://use.typekit.com/XXXXXXX.js"}
        -# :javascript
            try{Typekit.load();}catch(e){}

        -# Modernizr

        -# %script{:src => "/js/libs/modernizr.custom.js"}

  %body
    %section#masthead
      .container
        -#%img{ :src => "images/logo.png", :width => 500 }
        %h1#logo Dairyvative Technology, LLC
    %nav
      %ul
        %li
          %a{:href => "index.html"}Home
        %li
          %a{:href => "sevenx.html"}SEVENx
        %li
          %a{:href => "sustainability.html"}Sustainability
        %li
          %a{:href => "aboutus.html"}About Us
        %li
          %a{:href => "contact.html"}Contact Info
        -#%li
          %a{:href => "#"}Application
        -#%li
          %a{:href => "#"}Packaging
        -#%li
          %a{:href => "#"}Physical Properties

    %section.cf#content
      .container
        %section#left_column
          %img{ :src => "http://placekitten.com/g/500/500", :height => 500, :width => 500 }
        %section#right_column
          %h2 The Technology
          %p Dairyvative technology has a patented, paradigm changing new technology that allows high quality lactose free pasteurized milk to be concentrated 6-9X.  The resulting product is a dense but fluid lactose-free shelf stable milk with water activity less than 0.88 that can be distributed without refrigeration.
          /
            %h2 The Value
            %p The value of Seven-X lies in the nature of the protein, the absence of lactose, and the efficient sustainable process.
            Seven-X preferable organoleptic properties give it value for ingredient use and as a reconstituted product. The processes for potential competitive products, i.e. evaporated milk, non-fat dry milk (NFDM), whole fat dry milk (WFDM) and sweetened condensed milk, denature the milk proteins. Denatured protein often lends a chalky or gritty mouth-feel to end use products along with an undesirable “cooked milk” flavor.   The Seven-X process retains the integrity of the protein giving a smooth like-fresh-milk texture to reconstituted Seven-X milk and provides a more favorable mouth-feel for applications such as yogurt.
            %p The flavor of Seven-X is preferred over fresh milk in taste panels.  The hydrolyzed lactose makes it favorably sweeter than the mother product. The fresh milk flavor is also desirable over condensed and evaporated products for bakery, desserts, toppings, and fillings.  Yogurt, a rapidly growing changing category in the US, demands consumer flavor and texture approval. Seven-X, added to boost milk solids as an alternative to NFDM, provides a cleaner flavor and avoid chalky textures.
            %p Seven-X opens the market for a premium high protein beverage that can be safely shipped unrefrigerated to all ports in the world. Currently WFDM and NFDM are the two primary vehicles for exporting milk.  China is the largest importer of WFDM, using this spray-dried product for infant formula. Seven-X cost/lb (total milk solids) is similar to powdered whole fat milk.  Creative packing alternatives for Seven-X could enhance the advantage.
            %p Seventy-five percent of the world’s population is lactose intolerant. Neither NFDM nor WFDM are lactose reduced. Seven-X, a lactose free milk, will have the advantage of broader market acceptance. Reconstituted Seven-X milk is additionally a cost effective option for traditional milk consumers and those that are lactose intolerant in areas where the people/cow ratio is high and fluid perishable milk is shipped greater than 1000 miles to reach the end user.

          %h2 Applications
          %p Seven-X has potential to be used in the manufacture of other dairy case items including cultured dairy products and cheeses.  The milk concentrate can be used in bakery and snack applications, fillings, desserts, foams, and candies.  It is suitable for beverages including high protein sports products, smoothies, coffee and hot chocolate.  Concentrate for export is a viable target with attributes of fresh flavor, full fat content, shelf stability and absence of lactose creating a demand for Seven-X milk product.


          %h3 Features and Benefits
          %ul
            %li Pasteurized concentrated milk
            %li Fresh flavor preferred over milk
            %li Easily rehydrated
            %li Lactose reduced
            %li Significant savings in packaging and transportation cost
            %li Does not require refrigerated storage or transportation
            %li Convenient package sizes
            %li Substitute for NFDM with retained fat content
            %li Process eliminates graininess associated with other concentrated milks
            %li High protein content
            %li Lowest carbon footprint of any milk product


      #bg
    %section.cf#copyright
    /
      %p COPYRIGHT! Etsy trust fund single-origin coffee, Pinterest Austin hella small batch kitsch salvia before they sold out Vice church-key forage vegan Bushwick. DIY biodie sel try-hard irony.
    %footer
      %ul
        -#%li
          -#%a{:href => "#"}Sitemap
        -#%li
          -#%a{:href => "#"}Search
        -#%li
          -#%a{:href => "#"}Careers
        -#%li
          -#%a{:href => "#"}Terms of Use
        -#%li
          -#%a{:href => "#"}Privacy Policy
        %li Copyright 2013 Dairyvative Technology, LLC


      -# JS
      -# ==========================================================================

      -# jQuery

      -# %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
      -# :javascript
          window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')

      -# Custom JS

      -# %script{:src => "/js/app.js"}

      -#
      -# Asynchronous Google Analytics
      -# Change UA-XXXXX-X to be your site's ID
      -# mathiasbynens.be/notes/async-analytics-snippet
      -#

      -# :javascript
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
